@import "vendor/vendor";

@import "variables";
@import "scaffolding";

main{
  section.landing{
    height: 750px;
    background: $gradient, resolve('landingBg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
    img.logo{
      margin-top: 230px;
      margin-bottom: 55px;
    }
    button{
      position: absolute;
      bottom: 80px;
      left:50%;
      transform: translate(-50%);
    }
  }

  section.benefit{
    background: resolve('graph.svg') no-repeat bottom;
    padding-bottom: 80px;
    h2{
      margin-bottom: 80px;
    }
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        background: #3B3B3B;
        margin-bottom:20px;
        color: $white;
        border-radius: 6px;
        text-align: left;
        padding: 20px;
        div.icon{
          background: white;
          width: 65px;
          height: 65px;
          line-height: 60px;
          float: left;
          border-radius: 65px;
          text-align: center;
          vertical-align: middle;
          margin-right: 20px;
        }
        p{
          display: inline;
          font-size: 20px;
          line-height: 28px;
          vertical-align: middle;
        }
      }
    }
  }

  section.usp{
    background: resolve('uspBg.jpg') no-repeat top center;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 225px 0 130px 0;
    background-attachment: fixed;
    img.trinagle{
      position: absolute;
      top: 0;
      left:50%;
      transform: translate(-50%);
    }

    div.box{
      background: $white;
      border-radius: 6px;
      padding-bottom: 50px;
      min-height: 365px;
      div.icon{
        width: 220px;
        height: 220px;
        border-radius: 220px;
        line-height: 220px;
        background: $purple;
        margin: -110px auto 20px;
        display: inline-block;
      }
      div.icon.purple-light{
        background: $purple-light;
      }
      div.icon.pink{
        background: $pink;
      }

      h3{
        font-size: 38px;
        line-height: 48px;
        font-weight: normal;
        margin-bottom: 15px;
      }

      p{
        font-size: 16px;
        line-height: 23px;
        padding: 0 15px;
      }
    }
  }
}

// .sample-bg-image {
  // visit https://github.com/assetsjs/postcss-assets for more info
  // width: width('sample.jpeg');
  // height: height("sample.jpeg");
  // background-size: size("sample.jpeg");
  // background-image: resolve("sample.jpeg");
  // Optionally inline in Base64 encoding.
  // background-image: inline("./sample.jpeg");
// }
