@import "vendor/vendor";

@import "variables";
@import "scaffolding";

main{
  section.landing{
    height: 700px;
    background: $gradient, resolve('landingBg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    // background-attachment: fixed;
    img.logo{
      margin-top: 180px;
      margin-bottom: 55px;
      width: 300px;
    }
    button{
      position: absolute;
      bottom: 40px;
      left:50%;
      transform: translate(-50%);
    }
    img.mask{
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
    }
  }

  section.target{
    padding-bottom: 30px;
  }

  section.benefit{
    background: resolve('graph.svg') no-repeat bottom;
    padding-bottom: 80px;
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        background: #3B3B3B;
        margin-bottom:20px;
        color: $white;
        border-radius: 6px;
        text-align: left;
        padding: 20px;
        div.icon{
          background: white;
          width: 65px;
          height: 65px;
          line-height: 60px;
          float: left;
          border-radius: 65px;
          text-align: center;
          vertical-align: middle;
          margin-right: 20px;
        }
        p{
          display: inline;
          font-size: 20px;
          line-height: 28px;
          vertical-align: middle;
        }
      }
    }
  }

  section.usp{
    background: resolve('uspBg.jpg') no-repeat top center;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 225px 0 130px 0;
    // background-attachment: fixed;
    img.trinagle{
      position: absolute;
      top: 0;
      left:50%;
      transform: translate(-50%);
    }

    div.box{
      background: $white;
      border-radius: 6px;
      padding-bottom: 50px;
      min-height: 365px;
      div.icon{
        width: 220px;
        height: 220px;
        border-radius: 220px;
        line-height: 220px;
        background: $purple;
        margin: -110px auto 20px;
        display: inline-block;
      }
      div.icon.purple-light{
        background: $purple-light;
      }
      div.icon.pink{
        background: $pink;
      }

      h3{
        font-size: 38px;
        line-height: 48px;
        font-weight: normal;
        margin-bottom: 15px;
      }

      p{
        font-size: 18px;
        line-height: 23px;
        padding: 0 15px;
      }
    }
  }

  section.testimonial{
    div.profile{
      border-right: 1px solid white;
      margin-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      img{
        width: 140px;
        height: 140px;
        margin-bottom: 10px;
      }
      p{
        font-size: 18px;
        font-weight: bold;
        line-height: 18px;
        margin-bottom: 0;
        span{
          font-weight: normal;
          font-size: 14px;
        }
      }
    }
    h3{
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 30px;
      font-style: oblique;
      line-height: 42px;
      text-align: left;
      padding-right: 20px;
      margin-top: 45px;
    }
  }

  section.pricing{
    h2{
      margin-bottom: 130px;
    }
    .box{
      background-color: #D8D8D8;
      font-weight: bold;
      border-radius: 6px;
      margin-bottom: 20px;
      div.top{
        background-image: resolve("rookie.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        min-height: 265px;
        overflow: auto;
      }
      h3{
        font-size: 38px;
        line-height: 48px;
        font-family: 'FrutigerNext LT Bold';
        margin-top: 15px;
        margin-bottom: 20px;
      }
      p.price{
        font-size: 52px;
        font-family: 'FrutigerNext LT Bold';
        span{
          font-size: 16px;
        }
      }
      ul{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
          height: 60px;
          font-weight: normal;
          text-transform: capitalize;
          display: flex;
          justify-content:center;
          align-content:center;
          flex-direction:column;
          font-size: 18px;
        }
        li.odd{
          background: #E6E6E6;
        }
      }
    }
    .box.rainmaker div.top{
      background-image: resolve("rainmaker.svg");
      margin-top: -60px;
      min-height: 325px;
      >span{
        text-decoration: underline;
        font-weight: normal;
        margin-top: 10px;
        display: block;
      }
      h3{
        font-size: 42px;
        margin-bottom: 30px;
      }
      p.price{
        font-size: 64px;
      }
    }
    .box.suits div.top{
      background-image: resolve("suits.svg");
    }
    .action{
      margin: 0 0 110px;
      button{
        width: 100%;
        height: 60px;
        border-radius: 6px;
        background: $pink;
        font-size: 18px;
      }
    }
    .action.rainmaker button{
      background: $purple;
    }
    .action.suits button{
      background: $purple-light;
    }
  }

  section.reserve{
    position: relative;
    img.ribbon{
      position: absolute;
      top: 0;
      right: 0;
    }
    form{
      font-size: 18px;
      margin-top: 30px;
      .row{
        margin-bottom: 25px;
      }
    }
    button{
      width: 30%;
      height: 55px;
      border: 2px solid white;
      border-radius: 6px;
    }
    button.active{
      background: white;
      color: $dark;
    }
    div.accounts{
      button[data-account="rainmaker"]{
        margin:0 5%;
      }
    }
    input[type="text"]{
      height: 55px;
      width: 100%;
      background: none;
      border: 2px solid white;
      border-radius: 6px;
      outline: none;
      padding: 10px 20px;
    }
    .row.action{
      margin-bottom: 20px;
    }
  }

}
